<!DOCTYPE html>
<html lang="en">
<head>
  {{> component/head}}
  <title>SSCHM - Add a new car</title>

</head>

<body>

<div class="container">
  <h1>{{car.name}}</h1>
  {{#car.note}}
    {{#> component/panel}}
      {{#*inline "children"}}
        <p>{{car.note}}</p>
      {{/inline}}
    {{/component/panel}}
  {{/car.note}}
  <p>
    {{car.odo}}<br />
    {{efficiency.efficiency}}
  </p>

  <hr />

  <div>
    {{#car.photoId}}
      <img src="/photo/{{car.photoId}}" alt="car image">
    {{/car.photoId}}
    {{#events}}
      {{> component/event}}
    {{/events}}
  </div>


</div>

</body>

</html>
