{{#> component/panel}}
  {{#*inline "class"}}
    {{#eq type "event"}}panel-event{{/eq}}
    {{#eq type "maintenance"}}panel-maintenance{{/eq}}
    {{#eq type "refuel"}}panel-refuel{{/eq}}
  {{/inline}}
  {{#*inline "children"}}
    {{#eq type "event"}}
      <h5>Event</h5>
      <p>{{eventDate}}</p>
      {{#note}}
        <p>{{note}}</p>
      {{/note}}
    {{else}}
      {{#eq type "maintenance"}}
        <h5>Maintenance</h5>
        <p>{{eventDate}}</p>
        <p>
          Odo: {{odo}}<br />
          Price: {{price}}
        </p>
        {{#note}}
          <p>{{note}}</p>
        {{/note}}
      {{else}}
        {{#eq type "refuel"}}
          <h5>Refuel</h5>
          <p>{{eventDate}}</p>
          <p>
            Odo: {{odo}}<br />
            Price: {{price}}
          </p>
          {{#note}}
            <p>{{note}}</p>
          {{/note}}
        {{else}}
        {{! no matching type found }}
          <h4>Error: unknown event type: {{type}}</h4>
        {{/eq}}
      {{/eq}}
    {{/eq}}
  {{/inline}}
{{/component/panel}}
